.venv/
venv/
env/
ENV/

.idea/
.vscode/

__pycache__/
*.py[cod]
*$py.class

*.db
*.sqlite3

.env
.env.*

.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/

build/
dist/
site/
*.egg-info/
.eggs/

node_modules/

*.log
*.tmp
*.temp
Thumbs.db
Desktop.ini
